<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YBPieView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EAF73F21E7A5183002424CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EAF740B1E7A5183002424CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EAF74161E7A5183002424CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
